
@import "../../scss/utilities/index";





.toggle-menu-btn {
	display: none;

	&__title {
		@include screenreader;
	}
}





@include bp(mobile-menu) {

	/*a*/.logo {
		margin-left: 5%;
	}


	/*nav*/.site-header__nav {
		float: none;
		width: 100%; height: auto;

		li { margin-left: 0; }
	}

		.toggle-menu-btn {
			position: relative;
			display: block;
			float: right;
			width: 33px; height: $header-height;
			margin-right: 5%;
			padding: 0;
			border: 0;
			outline: 0;
			background-color: transparent;

			&__title {
				margin-top: -4px;
				font-size: 14px;
			}
		}

			.line {
				position: relative; top: 0;
			    display: block;
			    width: 33px; height: 4px;
			    border-radius: 2px;
			    @include transform(rotate(0));
			    background-color: #000;
			    @include transition(0.3s);

			    &:nth-child(2) { top: 4px; }
				&:nth-child(3) { top: 8px; }
			}

		.toggle-menu-btn.active {

		    .line:nth-child(1) {
		    	top: 4px;
		        @include transform(rotate(-45deg));
		    }
		    /* middle line */
		    .line:nth-child(2) {
		    	opacity: 0;
		   	}
		    /* bottom line */
		    .line:nth-child(3) {
		    	top: -4px;
		        @include transform(rotate(45deg));
		    }
		}


		/*ul*/.menu-primary {
			display: none;
			z-index: 100;
			line-height: 1.47;
		}
		/*ul*/.menu-primary.active {
			display: block;
		}


	/*body*/.no-js {
	    .toggle-menu-btn {
		    display: none;
		}


		/*ul*/.menu-primary {
			display: block;
		}
	}





	/*------------------------------------*\
    #TOGGLE
	\*------------------------------------*/


	/*nav*/.site-header__nav {
		text-align: center;

		/*li*/.current_page_item a,
		/*li*/.current-menu-item a {
			background-color: #eee;
		}
	}

		/*ul*/.menu-primary {
			position: relative;
			width: 100%;

			li { float: none }

			a {
				width: 100%;
				margin: 0;
				padding: 20px;
				border-top: 1px solid #EAEAEA;
				text-align: center;
				text-decoration: none;
				background-color: #fff;

				&:hover,
				&:focus {
					text-decoration: none;
					background-color: #eee;
				}
			}
		}

}
