
@import "bourbon";

@import "variables";


/***** Start: layout *****/


.rk-container {
	position: relative;
	margin-left: auto; margin-right: auto;

	&:before, &:after { clear: both; content: " "; display: table; }
}

.rk-container--main {
	width: $container-width;
	max-width: $container-max-width;
}


.box-float {
	position: relative;
	float: left;
}

.box-ib {
	position: relative;
	display: inline-block;
	vertical-align: top;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
	clear: both;
}


.full-width {
	display: block;
	float: none;
	width: 100%; max-width: none;
	margin-left: 0; margin-right: 0;
}


/***** Start: elements *****/


.rk-nav {
	margin: 0;
	padding: 0;
	list-style: none;

	> li,
	> li > a {
		display: inline-block;
		*display: inline;
		zoom: 1;
	}
}

.rk-nav--stacked {
	margin: 0;
	padding: 0;

	> li {
		display: list-item;
	}

	> li > a {
		display: block;
	}
}


.rk-button {
	border: 0;
	text-align: center;
	text-decoration: none;
	cursor: pointer;

	&:active {
		outline: none;
	}
}


/***** Start: visibility *****/


.hidden, .hide {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden,
.screenreader,
.screen-reader-text {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px; height: 1px;
	margin: -1px; padding: 0;
	overflow: hidden;
	border: 0;

	.focusable:active, .focusable:focus {
		position: static;
		clip: auto;
		width: auto; height: auto;
		margin: 0;
		overflow: visible;
	}
}

.invisible {
	visibility: hidden;
}


.collapsed {
	visibility: collapse;
	height: 0; line-height: 0;
	margin: 0; padding: 0;
}


.fade-in {
	height: auto;
	opacity: 1;
}
.fade-out {
	height: 0;
	opacity: 0;
}


.block, .show {
	display: block !important;
}
.inline-block {
	display: inline-block !important;
}


/***** Start: positioning *****/


.center {
	display: block;
	margin-left: auto; margin-right: auto;
}

/* IE 8+ */
.center-abs {
	position: absolute; top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
}

/* IE 8+ */
.center-abs-h {
	position: absolute; left: 0; right: 0;
	margin-left: auto; margin-right: auto;
}

/* IE 8+ */
.center-abs-v {
	position: absolute; top: 0; bottom: 0;
	margin-top: auto; margin-bottom: auto;
}

/* IE 9+ */
.center-trans {
	position: absolute; top: 50%; left: 50%;
	@include transform( translate(-50%, -50%) );
}


/***** Start: modifying *****/


.ir {
    text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


.rounded-img {
	border-radius: 50%;
	background-clip: padding-box;
}


.font-smoothing {
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}


/***** Start: misc *****/


/* Fluid container (ideal for img, embed object & iframe ) */
.fluid {
	max-width: 100%;
	height: auto;
}

.fluid-google-map {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

	iframe {
		position: absolute; top: 0; left: 0;
		width: 100%; height: 100%;
		border: 0;
	}
}
