
@import "bourbon";
@import "../utilities/index";





*, *:before, *:after { @include box-sizing(border-box); }


html { overflow-x: hidden; overflow-y: scroll; }

html, body {
	line-height: $base-line-height;
	font-family: $base-font-primary;
	font-size: $base-font-size;
	color: color(base-font);

	@if $enable-font-smoothing == true {
      font-smooth: always;

      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
    }
}


p { margin: 0 0 24px 0; }


a {
	color: color(base-link);

	&:visited { color: #4122a6; }
	&:hover { color: #06e; text-decoration: none; }
	&:focus { outline: thin dotted; }
	&:hover, a:active { outline: 0; }
}


img { border: 0; }


h1, h2, h3, h4, h5, h6 {
	margin: 36px 0 12px;
	font-family: $base-font-secondary;
	color: color(base-heading);
}

h1 { font-size: 2.488em; }
h2 { font-size: 2.074em; }
h3 { font-size: 1.728em; }
h4 { font-size: 1.44em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }


hr {
    display: block;
    height: 1px;
    margin: 1em 0; padding: 0;
    border: 0;
    border-top: 1px solid #ccc;
}


img { vertical-align: middle; max-width: 100%; height: auto; }

.ie8 img { width: auto; }


embed, /* fluid cropping doesn't work in IE8 without hack */
iframe,
object,
video {
	margin-bottom: 24px;
	max-width: 100%;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/* Start: forms */

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="password"] {
	-webkit-appearance: none !important;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	border: 0;
	cursor: pointer;
}


textarea {
	resize: vertical;
	border-radius: 0;
}


input,
textarea { /* Removing the inner shadow, rounded corners on iOS inputs */
	background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
}

/* End: forms */


table { width: 100%; margin-bottom: 24px; }

	th, caption { border-width: 0 1px 1px 0; font-weight: bold; }

		td { border-width: 0 1px 1px 0; }


dl { margin-bottom: 24px; }
dt { font-weight: bold; }
dd { margin: 0 0 24px 40px; }


ul, ol { margin: 0 0 24px 20px; }

	li > ul,
	li > ol {
		margin: 0 0 0 20px;
	}

nav ul,
nav ol {
	margin: 0; padding: 0;
	list-style: none;
	list-style-image: none;
}


code,
kbd,
tt,
var,
samp,
pre {
	font-family: monospace, serif;
	@include hyphens(none);
	line-height: 1.6;
}


code { color: #767676; }


pre {
	border: 1px solid #E5E5E5;
	max-width: 100%;
	overflow: auto;
	margin-bottom: 24px; padding: 12px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}


blockquote {
	padding-left: 20px;
	border-left: 8px solid #ccc;
	font-style: italic;
	color: #767676;
}


mark, ins { background: #fff9c0; }


address { display: inline-block; }
